<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

    </style>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>Country</th>
        <th>Valid From</th>
        <th>Amount</th>
        <th>Buy Value</th>
        <th>Sell Value</th>
        <th>Mid Value</th>
        <th>CNB Mid</th>
        <th>ECB Mid</th>
    </tr>
        <td th:text="${rate.name}"></td>
        <td th:text="${rate.country}"></td>
        <td th:text="${rate.validFrom}"></td>
        <td th:text="${rate.amount}"></td>
        <td th:text="${rate.valBuy}"></td>
        <td th:text="${rate.valSell}"></td>
        <td th:text="${rate.valMid}"></td>
        <td th:text="${rate.cnbMid}"></td>
        <td th:text="${rate.ecbMid}"></td>
</table>

</body>
</html>